# ------------------------------
# .dockerignore
#
# In dieser Datei werden Verzeichnisse/Dateien definiert, die beim
# Docker-Build-Kontext ignoriert werden sollen.
# ------------------------------

# Python virtual environments
.venv/
venv/

# Python Bytecode / Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Git metadata
.git/
.gitignore

# Local data & artifacts
data/
models/
predictions/
logs/
plots/
notebooks/
*.ipynb

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Terraform (nicht notwendig im Runtime-Image)
terraform/