# ------------------------------
# .gitignore
#
# In dieser Datei werden Verzeichnisse/Dateien definiert, die nicht
# ins Git-Repository eingecheckt werden sollen (Build-Artefakte, Logs,
# temporäre Dateien, virtuelle Umgebungen usw.).
# ------------------------------

# Python virtual environments
.venv/
venv/

# __pycache__ folders
__pycache__/

# Jupyter checkpoints
.ipynb_checkpoints/

# data files
data/

# model files
models/

# notebooks
notebooks/

# plots
plots/

# logs
logs/

# predicted files
predictions/



# ------------------------------
# Python Build-/Packaging-Artefakte
# ------------------------------

house_price_model.egg-info/
build/
dist/


# ------------------------------
# Terraform State & Cache
# ------------------------------

**/.terraform/
*.tfstate
*.tfstate.backup
